<div class="container marginTop1">
    <img src="./imagens/contato.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <span>
            <img src="./imagens/Envelope-icon.png" />
        </span>
        <h5><a href="mailto:cintia.oliveeira@hotmail.com">Enviar um e-mail</a></h5>
        <h5><email endereco="cintia.oliveeira@hotmail.com" conteudo="Enviar um e-mail"></email></h5>
        <br />
        <span>
            <img src="./imagens/phone-app-icon.png" />
        </span>
        <h5>(012) 99191-9191</h5>
        <br />
        <span>
            <img src="./imagens/Home-icon.png" />
        </span>
        <h5>Av. Padroeira do Brasil 1050 - 12345-6789 - Aparecida/SP</h5>
    </div>
</div>
